.navbar{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0px 1px 3px -2px black;
    align-items: center;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-logo p {
    font-size: 38px;
    color: #171717;
    font-weight: 500;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 20px;
    color: #626262;
    gap: 50px;
    font-weight: 500;

}
.nav-menu li{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3px;
    justify-content: center;
    cursor: pointer;
}
.nav-menu hr{
    border: none;
    background-color: darkred;
    width: 80%;
    height: 3px;
    border-radius: 10px;
}
.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 45px;
}
.nav-login-cart button{
    height: 58px;
    width: 157px;
    outline: none;
    border-radius: 75px;
    border: 1px solid #7a7a7a;
    font-size: 20px;
    background: white;
    color: #515151;
    cursor: pointer;
    font-weight: 500;
}
.nav-login-cart  button:active{
    background: antiquewhite;
   
}
.nav-cart-count{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    color: white;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 16px;
    background: red;
}
@media(max-width:1280px){
    .navbar{
        padding: 12px 50px;
    }
    .nav-logo img{
        width: 40px;
    }
    .nav-logo p {
        font-size: 25px;
    }
    .nav-menu{
        gap: 30px;
        font-size: 16px;
    }
    .nav-login-cart{
        gap: 30px;

    }
    .nav-login-cart button{
        width: 120px;
        height: 45px;
        font-size: 16px;
    }
    .nav-cart-count{
        margin-left: -40px;
        font-size: 12px;
    }
}
@media(max-width:1024){
.navbar {
        padding: 12px 30px;
    }

    .nav-logo img {
        width: 20px;
    }

    .nav-logo p {
        font-size: 15px;
    }

    .nav-menu {
        gap: 30px;
        font-size: 8px;
    }

    .nav-login-cart {
        gap: 15px;

    }

    .nav-login-cart button {
        width: 80px;
        height: 35px;
        font-size: 12px;
        margin-left: 20px;
    }

    .nav-cart-count {
        margin-left: -70px;
        font-size: 8px;
    }
}
.drop{
    display: none;
}
@media(max-width:800px){
    .navbar {
            padding: 10px 0px;
        }
        .drop{
            display: block;
            width: 30px;
            rotate: -90deg;
            transition: .5s;
            cursor: pointer;
        }
        .nav-menu{
            display: none;
            height: 80px;
            width: 100%;
            position: absolute;
            background: white;
            justify-content: center;
            top: 50px;

        }
        .nav-menu-visible{
            display: flex;
        }
        .drop.open{
            transform: rotate(90deg);
            transition: .7s;
        }
}
@media (max-width:500px) {
    .navbar{
        width: 20px 0px;
        gap: 0;
        align-items: center;
    }
    .nav-logo{
        transform: scale(.8);
    }
    .nav-menu{
        height: 70px;
        top: 50px;
    }
    .nav-login-cart{
        gap: 0px
    }
}